#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.titleGame{
  text-shadow: 5px 4px 5px rgba(0,208,235,0.63);
  
  
}

.logo.react {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin: 1rem;
  /* background-color: rgba(0,208,235,0.43); */
  border-radius: 10%;
  -webkit-box-shadow: 14px 13px 48px 3px rgba(0,208,235,0.43);
-moz-box-shadow: 14px 13px 48px 3px rgba(0,208,235,0.43);
box-shadow: 14px 13px 48px 3px rgba(0,208,235,0.43);
}

.read-the-docs {
  color: rgba(0,208,235,0.43);
  padding: 50px;
  
}
